@import '../variables.scss';

header {
	background: $white;
	border-bottom: 3px solid $navy;
	padding: 20px 10px;
	position: fixed;
		top: 0;
		right: 0;
		left: 0;
	width: $sidebar_mobile;
	z-index: 20;

	.inner {
		display: flex;
			align-items: center;
			justify-content: space-between;
	}

	nav {
		ul, li {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
}

.hamburger {
	display: block;

	--icon-size: 40px;

	svg {
		margin: 0;
	}

	&.close {
		background: #fff;
		position: absolute;
			top: -80px;
			right: 10px;
	}
}

nav {
	margin: 10px 0;
	text-align: center;
	a {
		color: $navy;
		display: block;
		font: $font_headings;
		padding: 10px 0;
		text-decoration: none;

		&:active, &:hover, &:focus {
			text-decoration: underline;
		}
	}
}

.site-logo {
	height: 65px;
	width: auto;

	div {
		height: 100%;
	}

	svg {
		height: 100%;
		margin: 0;
		width: auto;
	}
}

.contact-info {
	--icon-colour: #{$navy_light_75};
	--icon-size: 20px;

	display: flex;
		align-items: flex-end;
		justify-content: center;
		flex-direction: column;
	position: relative;
		right: 20px;
	text-align: right;

	a {
		border-left: 2px solid transparent;
		color: var(--icon-colour);
		display: flex;
			align-items: center;
		font-weight: bolder;
		margin: 5px 0;
		padding: 5px 0;
		text-decoration: none;

		&:active, &:hover, &:focus {
			--icon-colour: #{$navy};
			border-color: var(--icon-colour);
		}
	}

	address {
		display: inline-block;
	}

	svg {
		margin: 0 10px 0;
	}
}

#menu {
	background: #fff;
	border-left: 3px solid $navy;
	border-bottom: 3px solid $navy;
	display: none;
	position: absolute;
		top: 108px;
		right: 0;
	width: 300px;

	&:target {
		display: block;
	}
}

@media (min-width: 40rem) {
	header {
		border-bottom: none;
		border-left: 3px solid $navy;
		display: block;
		top: 0;
		right: 0;
		bottom: 0;
		left: auto;
		padding: 50px 20px;
		width: $sidebar_full;
			max-width: 350px;
			min-width: $sidebar_tablet;

		.inner {
			display: block;
		}
	}

	nav {
		margin: 20px 0;

		a {
			padding: 20px 0;
		}
	}

	.site-logo {
		height: auto;
		width: 100%;

		svg {
			height: auto;
			width: 100%;
		}
	}

	#menu {
		border: none;
		display: block;
		position: static;
		width: auto;
	}

	.hamburger {
		display: none;
	}

	.contact-info {
		position: absolute;
			bottom: 10px;
			right: 20px;
	}
}
