@import '../variables.scss';

.hero {
    padding: 50px 10px 0;

    img {
        border: 7px solid #000;
        display: block;
        height: auto;
        margin: 0 auto;
        width: 80vw;
            max-width: 800px;
    }
}