@import '../variables.scss';
.content {
    background: #000;
    color: $grey_light;
    font-size: 20px;
    margin: 50px auto;
    padding: 30px;
    width: 90vw;
        max-width: 1200px;

    &.contact {
        display: flex;
            flex-wrap: wrap;

        > div {
            flex: 1 1 200px;
        }

        h2 {
            flex: 1 0 100%;
        }
    }

    li {
        span {
            color: $grey_light;
        }
    }
}