@import 'variables.scss';

.content {
    &.main {
        --sidebar: 0;

        margin-top: 105px;
        overflow: hidden;
        width: calc(100vw - var(--sidebar));
    }
}

@media (min-width: 40rem) {
    .content {
        &.main {
            --sidebar: #{$sidebar_tablet};

            margin-top: 0;
        }
    }
}

@media (min-width: 1000px) {
    .content {
        &.main {
            --sidebar: #{$sidebar_full};
        }
    }
}

@media (min-width: 1750px) {
    .content {
        &.main {
            --sidebar: 350px;
        }
    }
}