@import 'variables.scss';

* {
	box-sizing: border-box;
}

body {
	--icon-colour: #{$navy_light_75};
	--icon-size: 30px;

	color: $black_light_90;
	font: $font_regular;
	line-height: 1.3;
	margin: 0;
}

h1 {
    color: $navy_dark_50;
    font-family: Arial, sans-serif;
	font-size: 2.5em;
	font-variant: small-caps;
    text-align: left;
}

h2 {
    color: $navy_dark_50;
    font-family: Arial, sans-serif;
	font-size: 2em;
	font-variant: small-caps
}

h3 {
    color: $navy_dark_75;
    font-family: Arial, sans-serif;
	font-size: 1.8em;
	font-variant: small-caps
}

h4 {
    color: $navy_dark_25;
    font-family: Arial, sans-serif;
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

h5 {
    color: $navy_dark_25;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

a {
	color: $navy_light_90;

	&:active, &:hover, &:focus {
		color: $navy_dark_50;
	}
}

blockquote {
    border: none;
        border-right: 4px solid $navy_light_90;
    color: $navy_dark_75;
    padding: 10px 10px 10px 5px;
    text-align: right;
}

ul {
    margin: 0.3em 0;
    padding-left: 40px;

    li {
        list-style-type: disc;
    }
}

ol {
    margin: 0.3em 0;

    li {
        line-height: 2em;
    }
}

hr {
    border-color: $navy_light_50;
}

figcaption {
    border: none;
        border-left: 3px solid $navy_light_90;
    color: $navy_dark_90;
    padding: 5px 5px 5px 10px;
    text-align: left;
}

.icon {
    cursor: pointer;
    height: var(--icon-size);
    margin: 20px;
    stroke: var(--icon-colour);
    width: var(--icon-size);
}

form {
    border: 1px solid $navy_light_50;
    padding: 20px;
    width: 100%;
        max-width: 400px;

    h5 {
        margin: 0;
    }

    input {
        background: $navy_light_10;
        border: 1px solid $navy_light_75;
        color: $navy_dark_25; 
        display: block;
        margin: 10px 0;
        padding: 5px 10px;
        width: 100%;

        &::placeholder {
            color: $navy_dark_25; 
        }
    }
}

button {
    background: none;
    border: 2px solid $navy_dark_50;
    color: $navy_dark_50;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    margin: 10px 0;
    text-transform: uppercase;

    &:active, &:hover, &:focus {
        background: $navy_dark_50;
        color: #fff;
    }
}

.sr {
    position: fixed;
        right: -500px;
}

.image-container {
	overflow: hidden;

	img {
		height: 100%;
		max-width: 100%;
		min-width: 100%;
	}
}

.caps {
	font-variant: small-caps;
}