//Fonts
$font_light: 300 1em Arial, sans-serif;
$font_regular: 400 1em Arial, sans-serif;
$font_bold: 700 1em Arial, sans-serif;
$font_headings: 400 1.5em 'Slab', serif;

//Colours
$purple: #635a6e;
$grey_light: #bfbfbf;
$grey_dark:#404040;


//Sizes
$icon-size: 30px;