//Fonts
$font_light: 300 1em Arial, sans-serif;
$font_regular: 400 1em Arial, sans-serif;
$font_bold: 700 1em Arial, sans-serif;
$font_headings: 400 1.5em 'Slab', serif;

//Colours
$purple: #8e76aa;
$grey_light: #c4c4c4;
$grey_dark:#8f8f8f;


//Sizes
$icon-size: 20px;